@charset "UTF-8";

:root {
  --shrink-from: 130px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  max-width: 770px;
  flex: 1;
}

#items {
  max-height: calc(100vh - 185px - 4rem);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#todo-list input:not(#modal-control) {
  flex: 1;
  padding: calc(1.5 * var(--universal-padding));
}

.m-0 {
  margin: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.b-none {
  border: none;
}

.mono {
  font-family: Menlo,
    Consolas,
    monospace !important;
}

.section,
.tag {
  transition: background .2s ease-out;
}

.done {
  background-color: #EFEFEF !important;
}

.done p.todo-text span {
  text-decoration: line-through;
  -webkit-text-decoration-color: #D32F2F;
  text-decoration-color: #D32F2F;
}

mark.dark {
  background: #E0E0E0;
  color: #111111;
}

@-webkit-keyframes shrink {
  0% {
    height: var(--shrink-from);
  }

  to {
    height: 0px;
    padding: 0px;
  }
}

@keyframes shrink {
  0% {
    height: var(--shrink-from);
  }

  to {
    height: 0px;
    padding: 0px;
  }
}

.shrink {
  -webkit-animation-name: shrink;
  animation-name: shrink
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(.8, .8, .8);
    opacity: .8;
    transform: scale3d(.8, .8, .8)
  }

  50% {
    opacity: 1
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(.8, .8, .8);
    opacity: .8;
    transform: scale3d(.8, .8, .8)
  }

  50% {
    opacity: 1
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animated.faster {
  -webkit-animation-duration: .5s;
  animation-duration: .5s
}

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    -webkit-transition: none !important;
    animation: unset !important;
    transition: none !important
  }
}